{% extends 'base.html.twig' %}

{% block title %}Quelle classe voulez vous consulter ?{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Salut!</h1>

    Quelle classe voulez vous consulter ?
    <ul>
        <li>CP</li>
        <li>CE1</li>
        <li>CE2</li>
        <li>CM1</li>
        <li>CM2</li>
    </ul>
    <ul>
    <button>
    Toutes les classes
    </button>
    </ul>
</div>
{% endblock %}
